
/***************************************************/
/************* STYLES FOR INPUT AREA ***************/
/***************************************************/

/* System Message Log Text Area Style */
.systemMessageLogTextArea {
    width: 50%;
    resize: none;
    font:15px "Arial Black", Gadget, sans-serif;
    text-align: left;
    overflow: auto;
   } 

/* Input Div Style */  
.inputBlock1 { 
    width: 99%;
    background: #ccc;
    padding: 10px;
    float: left;
}

.button{
    text-decoration:none; 
    text-align:center; 
    padding:5px 9px; 
    border:none; 

    font:15px "Arial Black", Gadget, sans-serif; 
    font-weight:bold; 
    color:#E5FFFF; 
    background:#00aaff; 
    -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
    -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
    box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  

    -webkit-transition: height 0.1s linear;
    -moz-transition:  height 0.1s linear;
    -o-transition:  height 0.1s linear;
    transition:  height 0.1s linear;}

.button:hover{
    padding:5px 9px; 
    border:none; 

    font:15px "Arial Black", Gadget, sans-serif; 
    font-weight:bold; 
    color:#E5FFFF; 
    background-color:#00aaff; 
    background-image: -moz-linear-gradient(top, #00aaff 0%, #0088cc 100%); 
    background-image: -webkit-linear-gradient(top, #00aaff 0%, #0088cc 100%); 
    background-image: -o-linear-gradient(top, #00aaff 0%, #0088cc 100%); 
    background-image: -ms-linear-gradient(top, #00aaff 0% ,#0088cc 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0088cc', endColorstr='#0088cc',GradientType=0 ); 
    background-image: linear-gradient(top, #00aaff 0% ,#0088cc 100%);   
    -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
    -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
    box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  
}

.button:active{
    padding:5px 9px; 
    border:none; 

    font:15px "Arial Black", Gadget, sans-serif;
    font-weight:bold;
    color:#E5FFFF;
    background:#005a87;
    -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
    -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;
    box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
}

.inputTextBox{
    text-decoration:none; 
    text-align:left; 
    padding:5px 9px; 
    border:solid 1px #00aaff; 

    font:15px "Arial Black", Gadget, sans-serif; 
    font-weight:bold; 
    color:#00aaff; 
    background:#ffffff; 
    -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
    -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
    box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  

    -webkit-transition: all 0.08s linear;
    -moz-transition:  all 0.08s linear;
    -o-transition:  all 0.08s linear;
    transition:  all 0.08s linear;}

.inputTextBox:hover{
    padding:5px 9px; 
    border:solid 1px #00aaff; 

    font:15px "Arial Black", Gadget, sans-serif; 
    font-weight:bold; 
    color:#005a87; 
    background:#ffffff; 
    -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
    -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
    box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  
}

/*.inputTextBox:active{
    padding:11px 9px; 
    border:none; 

    font:15px "Arial Black", Gadget, sans-serif; 
    font-weight:bold; 
    color:#005a87; 
    background:#ffffff; 
    -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
    -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
    box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  
}*/


/* Input Table Style */
.inputTable {
  width: 60%; 
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  border-collapse: collapse;
  color: #686461;
  border-bottom: 3px solid #00aaff;
}
.inputTable caption {
  padding: 10px;
  color: white;
  background: #00aaff;
  font-size: 18px;
  text-align: left;
  font-weight: bold;
}
.inputTable th {
  border-bottom: 3px solid #00aaff;
  padding: 10px;
  text-align: left;
}
.inputTable td {
  padding: 10px;
}
.inputTable tr:nth-child(odd) {
  background: white;
}
.inputTable tr:nth-child(even) {
  background: #e8e8e8;
}

/***************************************************/
/************ STYLES FOR OUTPUT AREA ***************/
/***************************************************/

/* Output Div Style */
.outputBlock1 {
    width: 99%; 
/*    background: #87ffa9;*/
    background: white;    
    padding: 10px;
    float: left;
}

/* Output Table Style */
.outputTable {
  width: 99%; 
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  border-collapse: collapse;
  color: #686461;
  border-bottom: 3px solid #00aaff;
}
.outputTable caption {
  padding: 10px;
  color: white;
  background: #00aaff;
  font-size: 18px;
  text-align: left;
  font-weight: bold;
}
.outputTable th {
  border-bottom: 3px solid #00aaff;
  padding: 10px;
  text-align: left;
}
.outputTable td {
  padding: 10px;
}
.outputTable tr:nth-child(odd) {
  background: white;
}
.outputTable tr:nth-child(even) {
  background: #e8e8e8;
}

/***************************************************/
/***************** COMMON SYTLES *******************/
/***************************************************/

h1 {
    font:35px "Arial Black", Gadget, sans-serif; 
}

h2 {
    font:30px "Arial Black", Gadget, sans-serif; 
}

h3 {
    font:25px "Arial Black", Gadget, sans-serif; 
}

h4 {
    font:20px "Arial Black", Gadget, sans-serif; 
}

h5 {
    font:15px "Arial Black", Gadget, sans-serif; 
}

