/***************************************************/
/************* STYLES FOR INPUT AREA ***************/
/***************************************************/

/* System Message Log Text Area Style */
.systemMessageLogTextArea {
    outline: none;
    width: 50%;
    resize: none;
    font:15px "Arial Black", Gadget, sans-serif;
    text-align: left;
    overflow: auto;
}

.systemMessageLogTextArea:hover {
    outline-color: #005a87;
    outline-style: solid;
    outline-width: thin;
}

/* Input Div Style */  
.inputBlock1 {
    width: 99%;
    background: #ccc;
    padding: 10px;
    padding-top: 55px;
    float: left;
}

input[type=submit]{
    outline: none; /* remove margins of the button */
    text-decoration:none; 
    text-align:center; 
    border:none; 

    font-family: "Arial Black", Gadget, sans-serif; 
    font-weight: bold; 
    color:#E5FFFF; 
    padding:5px 9px;
    
    background:#00aaff;

    transition:  all 0.05s linear;
}

input[type=submit]:hover{
    background-image: linear-gradient(#00aaff, #0088cc);     
}

input[type=submit]:active{
    outline: solid #005a87;
}

input[type=submit].button {
    font-size: 15px;
    width:100px;
}

input[type=submit].smallButton {
    font-size: 10px;
    width:55px;
}

.inputTextBox{
    outline: none;
    text-decoration:none; 
    text-align:left; 
    padding:5px 9px; 
    border: solid 2px #00aaff; 

    font:15px "Arial Black", Gadget, sans-serif; 
    font-weight:bold; 
    color:#00aaff; 
    background:#ffffff; 

    transition:  all 0.08s linear;
}

.inputTextBox:hover{
    border: solid 2px #005a87; 
}

.inputTextBox:focus{
    border: solid 2px #005a87;
    color: #005a87;
}

/* Input Table Style */
.inputTable {
    width: 50%;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #005a87;
    
    border-collapse: collapse;
    border-bottom: 3px solid #00aaff;
}
.inputTable caption {
    padding: 10px;
    color: white;
    background: #00aaff;
    font-size: 18px;
    text-align: left;
    font-weight: bold;
}
.inputTable th {
    color: black;
    padding: 10px;
    text-align: left;
    background: white;
    border-bottom: 3px solid #00aaff;
}
.inputTable td {
    padding: 15px;
}

/***************************************************/
/************ STYLES FOR OUTPUT AREA ***************/
/***************************************************/

/* Output Div Style */
.outputBlock1 {
    width: 99%;
    background: white;    
    padding: 10px;
    float: left;
}

/* Output Table Style 1. */
.outputTable1 {
    width: 99%; 
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #005a87;
    border-collapse: collapse;
    border-bottom: 3px solid #00aaff;
}

.outputTable1 caption {
    padding: 10px;
    color: white;
    background: #00aaff;
    font-size: 18px;
    text-align: left;
    font-weight: bold;
}

.outputTable1 th {
    color: black;
    padding: 10px;
    text-align: left;
}

.outputTable1 td {
    padding: 10px;
}

.outputTable1 tr:nth-child(3){
    border-top: 3px solid #00aaff;    
}

.outputTable1 tr:nth-child(n+3):nth-child(odd) {
    background: white;
}
.outputTable1 tr:nth-child(n+3):nth-child(even) {
    background: #e8e8e8;
}

/* Output Table Style 2. */
.outputTable2 {
    width: 99%;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #005a87;
    border-collapse: collapse;
    border-bottom: 3px solid #00aaff;
}

.outputTable2 caption {
    padding: 10px;
    color: white;
    background: #00aaff;
    font-size: 18px;
    text-align: left;
    font-weight: bold;  
}

.outputTable2 th {
    color: black;
    padding: 10px;
    text-align: left;
    border-bottom: 3px solid #00aaff;      
}

.outputTable2 td {
    padding: 10px;
}

.outputTable2 tr:nth-child(odd) {
    background: white;
}
.outputTable2 tr:nth-child(even) {
    background: #e8e8e8;
}

/***************************************************/
/***************** COMMON SYTLES *******************/
/***************************************************/

h1 {
    font:35px "Arial Black", Gadget, sans-serif;
    color: black;
}

h2 {
    font:30px "Arial Black", Gadget, sans-serif;
    color: black;
}

h3 {
    font:25px "Arial Black", Gadget, sans-serif;
    color: black;
}

h4 {
    font:20px "Arial Black", Gadget, sans-serif;
    color: black;
}

h5 {
    font:15px "Arial Black", Gadget, sans-serif;
    color: black;
}

